page-profile {

    // .content {
    //     color: lightblue;
    // }

    // .menu {
    //     width: 100%;
    // }

    .image {
        align-content: center;
       
        padding-right: 20px;
    }

    .card {
        box-shadow: 0 0 0;
    }

    .top {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;;
        height: 300px;
        width: 100%;
        background: linear-gradient(to bottom, lightblue,rgb(120, 186, 207));
        // box-shadow: 5px 5px 5px lightgrey;
        color: white;
    }



    .num {
        margin-top: 180px;
    }

    .name {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0px;
        text-align: center;
        margin-top: 0;
        font-size: 30px;
    }

    .image {
        width: 150px;
        height: 150px;
        object-fit: contain;
        align-content: center;
        align-self: center;
        margin-top: 25px;
        // border-radius: 50%;
        // background-color: white;
        position: relative;
        margin-left: 120px;
        padding-bottom: 0;
    }
   
    .money {
       text-align: center;
    }

    .amount {
        color: white;
        font-size: 30px;
        text-align: center;
        line-height: 0.4;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .donations {
        color:white;
        text-align: center;
        line-height: 0.7;
        // font-size: 20px;
    }

    .logout {
        padding-top: 60px;
        position: relative;
        bottom: 55px;
        width: 95%;
        right: 10px;
        left: 10px;
        
    }
   
    .ios, .md {
 
        page-home {
     
            .header-image {
                background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
                height: 40vh;
            }
     
            .main-content {
                background-color: map-get($colors, dark);
                box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
            }
     
            .scroll-content {
                padding-top: 0 !important;
            }
     
            ion-header {
                backdrop-filter: blur(8px);
            }
     
            ion-navbar {
                opacity: 0.4;
                box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
            }
     
            ion-segment {
                padding: 0px 12px;
                opacity: 0.7;
                position: relative;
                top: -50px;
            }
     
            ion-segment-button {
                border-color: map-get($colors, primary) !important;
                color: #fff !important;
            }
     
            ion-card {
                background-color: #fff;
                width: 100%;
                margin: 0;
                margin-bottom: 25px;
                position: relative;
                top: -30px;
            }
     
            ion-card:last-of-type {
                margin-bottom: 0 !important;
            }
     
            ion-item {
                background-color: #fff;
            }
     
        }
     
    }

}
.name {
    font-size: 5em;
    width: 100%;
    font-family: monospace;
    color: white;
    padding-top: 20px;
    padding-left: 25px;
    margin: auto;
    text-align: center;
}