<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<ion-header>
  <ion-navbar color="main" no-border-bottom>
    <!-- <div align="center"><h1 class = "name"> Tiger's Milk </h1> </div>  -->
    <ion-title class="headerTitle">Profile</ion-title>
    <ion-buttons right>
      <button ion-button (click)="navigateToEditProfileModal()">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen parallax-header padding no-border-top>
<div class="top">
    <img src=" /assets/tiger.png" class="image"/>
    <h3 class="name">{{this.user.firstname}} {{this.user.lastname}}</h3>
</div>
  <!-- <div class="over">

  </div> -->
  <div class="num">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h3 class="amount"><strong>${{this.total}}</strong></h3>
                <p class="donations">
                  <strong>Donated</strong>
                </p>
              </ion-col>
              <!-- <ion-col>
                <h3 class="amount"><strong>0</strong></h3>
                <p class="donations"><strong>Charities Donated To</strong></p>
              </ion-col> -->
        </ion-row>

    </ion-grid>
    
  </div>
  
  
  <div class="history">
    <ion-item-group>
      <ion-item-divider color="light" class="menu">Donation History</ion-item-divider>

      <ion-list *ngFor="let donation of donations">
        <ion-item>
          <ion-row>
            <ion-col class="amount">
              {{donation.amount}}
            </ion-col>
            <ion-col text-wrap>
              <!-- {{donation.charityName}} -->
            </ion-col>
            <ion-col text-wrap class="date">
              {{donation.date}}
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-item-group>
    </div>



  <!-- <div>
          Donation History
        
        <div>
          <ion-list *ngFor="let donation of donations">
            <ion-item>
              <ion-row>
                <ion-col class="amount">
                  {{donation.amount}}
                </ion-col>
                <ion-col text-wrap>
                  {{donation.charityName}}
                </ion-col>
                <ion-col text-wrap class="date">
                  {{donation.date}}
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </div>
        
      </div>



  <div class="header-image"></div>
    <ion-navbar color="main">
      <ion-title> Newsfeed </ion-title>
    </ion-navbar>
 
    <div class="main-content">
        
 
          <ion-item>
            <ion-avatar item-left>
              <img src= "/assets/tiger.png" />
            </ion-avatar>
            <h2>Save the Tigers</h2>
            <p>June 12, 2018</p>
          </ion-item>
          <img src= "/assets/whitetiger.jpg" />
          
 
          <ion-card-content>
            <p>
                The Tiger Foundation just got a donation of $100! We are now $100 closer to our goal of $3000. Checkout our website for how else you can help!
            </p>
          </ion-card-content>

          <ion-item>
              <ion-avatar item-left>
                <img src= "/assets/tiger.png" />
              </ion-avatar>
              <h2>Save the Rhinos</h2>
              <p>June 5, 2018</p>
            </ion-item>
   
            <img src="assets/rhino.jpg" />
   
            <ion-card-content>
              <p>
                  One of our Rhinos just had a baby! Donate now and you'll get to nanme him! Visit our Facebook for pictures.
              </p>
            </ion-card-content>

 <ion-row>
  <ion-col>
    <button (click)="like()" (press)="showReactions(ev)" ion-button icon-left clear small>
      <ion-icon name="thumbs-up"></ion-icon>
      <div>12 Likes</div>
    </button>
  </ion-col>
  <ion-col>
    <button (click)="like()" (press)="showReactions(ev)" ion-button icon-left clear small>
      <ion-icon name="text"></ion-icon>
      <div>4 Comments</div>
    </button>
  </ion-col>
  <ion-col center text-center>
    <ion-note>
      11h ago
    </ion-note>
  </ion-col>
</ion-row>
    </div>


    <ion-list>
      <ion-card *ngFor="let post of postProperties">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="post.charityLogo">
          </ion-avatar>
          <h2>{{post.charityName}}</h2>
        </ion-item>
        <ion-item>
          <h4 text-wrap>{{post.text}}</h4>
          <img [src]="post.img">
          <p>{{post.date}}</p>
        </ion-item>
        </ion-card>
    </ion-list> -->
<div class="logout">
    <button ion-button (click)="logout()" class="key">Logout</button>

</div>
  




</ion-content>