page-home {
    
    .name {
        font-size: 5em;
        width: 100%;
        font-family: monospace;
        color: white;
        padding-top: 2em;
        padding-left: 25px;
        margin: auto;
        text-align: center;
    }
}
