page-charity {
    
    // .name {
    //     font-size: 3em;
    //     width: 100%;
    //     font-family: monospace;
    //     color: white;
    //     padding-top: 2em;
    //     padding-left: 25px;
    //     margin: auto;
    //     text-align: center;
    // }

    .charity {
        font-size: 20px;
        padding-top: 10px;
       padding-bottom: 5px;
    }

    .line {
        border: 0.5px solid gray;
    }

    .fab {
        background-color: black;
        color: white;
        
    }

    .headings {
        font-size: 15px;
    }

    p {
        color: rgb(77, 75, 75);
    }


    .donate {
        padding-top: 30px;
    }
}
