page-charity {
    
    // .card {
    //     box-shadow: 0 0 0;
    // }

    // .top {
    //     position: relative;;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     margin: auto;
    //     height: 300px;
    //     width: 100%;
    //     background: linear-gradient(to bottom, lightblue,rgb(120, 186, 207));
    //     // box-shadow: 5px 5px 5px lightgrey;
    //     // color: white;
        
    // }

    // .image {
    //     width: 100%;
    //     position: absolute;
    // }

    .charity {
        font-size: 20px;
        padding-top: 10px;
       padding-bottom: 5px;
    }

    .line {
        border: 0.5px solid gray;
    }

    .fab {
        background-color: black;
        color: white;
        
    }

    .headings {
        font-size: 15px;
    }

    p {
        color: rgb(77, 75, 75);
    }


    .donate {
        padding-top: 30px;
    }
}
